<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>my</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>Bookspackage.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Bookspackage.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindServlet</display-name>
    <servlet-name>FindServlet</servlet-name>
    <servlet-class>Bookspackage.FindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindServlet</servlet-name>
    <url-pattern>/FindServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>Bookspackage.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>Bookspackage.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>Bookspackage.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XgshujuServlet</display-name>
    <servlet-name>XgshujuServlet</servlet-name>
    <servlet-class>Bookspackage.XgshujuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XgshujuServlet</servlet-name>
    <url-pattern>/XgshujuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XgCountServlet</display-name>
    <servlet-name>XgCountServlet</servlet-name>
    <servlet-class>Bookspackage.XgCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XgCountServlet</servlet-name>
    <url-pattern>/XgCountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChengjiServlet</display-name>
    <servlet-name>ChengjiServlet</servlet-name>
    <servlet-class>Bookspackage.ChengjiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChengjiServlet</servlet-name>
    <url-pattern>/ChengjiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCjServlet</display-name>
    <servlet-name>DeleteCjServlet</servlet-name>
    <servlet-class>Bookspackage.DeleteCjServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCjServlet</servlet-name>
    <url-pattern>/DeleteCjServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteXsServlet</display-name>
    <servlet-name>DeleteXsServlet</servlet-name>
    <servlet-class>Bookspackage.DeleteXsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteXsServlet</servlet-name>
    <url-pattern>/DeleteXsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZhuceServlet</display-name>
    <servlet-name>ZhuceServlet</servlet-name>
    <servlet-class>Bookspackage.ZhuceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZhuceServlet</servlet-name>
    <url-pattern>/ZhuceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaseDao</display-name>
    <servlet-name>BaseDao</servlet-name>
    <servlet-class>Bookspackage.BaseDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseDao</servlet-name>
    <url-pattern>/BaseDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDao</display-name>
    <servlet-name>UserDao</servlet-name>
    <servlet-class>Bookspackage.UserDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDao</servlet-name>
    <url-pattern>/UserDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Bookspackage.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>威威日体育</display-name>
    <servlet-name>威威日体育</servlet-name>
    <servlet-class>Bookspackage.威威日体育</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>威威日体育</servlet-name>
    <url-pattern>/威威日体育</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>Servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>1</description>
    <display-name>UserServlet1</display-name>
    <servlet-name>UserServlet1</servlet-name>
    <servlet-class>Bookspackage.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet1</servlet-name>
    <url-pattern>/UserServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>w</display-name>
    <servlet-name>w</servlet-name>
    <servlet-class>Bookspackage.w</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>w</servlet-name>
    <url-pattern>/w</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>1</description>
    <display-name>UserDao1</display-name>
    <servlet-name>UserDao1</servlet-name>
    <servlet-class>Bookspackage.UserDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDao1</servlet-name>
    <url-pattern>/UserDao1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GerenServlet</display-name>
    <servlet-name>GerenServlet</servlet-name>
    <servlet-class>Bookspackage.GerenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GerenServlet</servlet-name>
    <url-pattern>/GerenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GerenServlet1</display-name>
    <servlet-name>GerenServlet1</servlet-name>
    <servlet-class>Bookspackage.GerenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GerenServlet1</servlet-name>
    <url-pattern>/GerenServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuServlet</display-name>
    <servlet-name>StuServlet</servlet-name>
    <servlet-class>package1.StuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuServlet</servlet-name>
    <url-pattern>/StuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HibernateUtils</display-name>
    <servlet-name>HibernateUtils</servlet-name>
    <servlet-class>package1.HibernateUtils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HibernateUtils</servlet-name>
    <url-pattern>/HibernateUtils</url-pattern>
  </servlet-mapping>
</web-app>